[submodule "external/component/mbedtls"]
	path = external/component/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "external/component/lwip"]
	path = external/component/lwip
	url = https://github.com/lwip-tcpip/lwip.git
[submodule "external/os/cmsis_freertos"]
	path = external/os/cmsis_freertos
	url = https://github.com/ARM-software/CMSIS-FreeRTOS.git
[submodule "sdk/esp"]
	path = sdk/esp
	url = https://github.com/espressif/esp-idf.git
[submodule "external/external/logger/embedded-cli"]
	path = external/external/logger/embedded-cli
	url = https://github.com/funbiscuit/embedded-cli.git
[submodule "external/cli/embedded-cli"]
	path = external/cli/embedded-cli
	url = https://github.com/funbiscuit/embedded-cli.git
[submodule "external/os/cmsis"]
	path = external/os/cmsis
	url = https://github.com/ARM-software/CMSIS-FreeRTOS.git
