[submodule "external/lwip"]
	path = external/lwip
	url = https://github.com/lwip-tcpip/lwip.git
[submodule "external/mbedtls"]
	path = external/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "os/freertos"]
	path = os/freertos
	url = https://github.com/ARM-software/CMSIS-FreeRTOS.git
